/* Base Styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* default font-size - 26px, 10 px - 10/16 px,  */
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: 'Lato', serif;
	font-weight: 400;
	line-height: 1.6;
	position: relative;
	font-size: 2rem;
}

/* Navigation section */
.nav-bar {
	position: fixed;
	width: 100%;
	background: linear-gradient(to right, rgba(171, 0, 0, 1), rgba(13, 85, 130, 1));
}

.nav-links {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 1.5rem;
}

.nav-link:link,
.nav-link:visited {
	text-decoration: none;
	margin-left: 10rem;
	color: white;
	transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
	color: white;
	padding-bottom: 1.5rem;
	border-bottom: 4px solid white;
}

.nav-items:last-child {
	margin-right: 10rem;
}

/* Header section */

.background {
	background: linear-gradient(to right, rgba(171, 0, 0, 0.6), rgba(13, 85, 130, 0.8)),
		url(../img/background.jpg);
	background-position: center;
	background-size: 100%;
}

.welcome-section {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading-primary {
	font-size: 6rem;
	font-weight: 700;
	line-height: 1;
	color: white;
}

.paragraph {
	color: white;
	margin-top: 2rem;
	padding: 1rem 2rem;
	border: 2px solid white;
}

/* Projects Section */
.project-container {
	display: grid;

	grid-template-rows: repeat(2, 20rem);
	grid-template-columns: repeat(3, 30rem);
	grid-gap: 5rem;
}
.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.project-tile img {
	height: 100%;
	width: 100%;
}
.project-tile {
	border: 1px solid #008080;
}
.project-tile .paragraph {
	margin: 0;
	padding: 0;
	border: 1px solid #008080;
	text-align: center;
}
h2 {
	margin: 1.5rem 0;
	line-height: 1;
}
a {
	text-decoration: none;
}

button {
	margin-top: 8rem;
	padding: 1rem 3rem;
	text-align: center;
	color: #008080;
	border: 1px solid #008080;
	background: #e0ebe8;
}

/* Section social */
.social {
	display: flex;
	flex-direction: column;
	margin-top: 10rem;
	align-items: center;
	background-color: #c8f7c5;
	padding: 10rem;
}

.social-links {
	display: flex;
}

.social-links a {
	width: 12rem;
	height: 12rem;
	background-color: #e0ebe8;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin: 10rem 3rem;
	color: #008080;
	border: 1px solid #008080;
}

/* Footer */

.footer {
	background-color: #22313f;
	color: white;
	padding: 2rem;
	text-align: center;
}
.footer .paragraph {
	color: white;
}
.footer a {
	color: white;
}

/* Media query for 1000px */
@media screen and (max-width: 1000px) {
	body {
		font-size: 60%;
	}
}
