/* Base Styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* default font-size - 26px, 10 px - 10/16 px,  */
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: 'Lato', serif;
	font-weight: 400;
	line-height: 1.6;
	position: relative;
	font-size: 2rem;
}

/* Navigation section */
.nav-bar {
	position: fixed;
	background-color: #e0ebe8;
	width: 100%;
}

.nav-links {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 1.5rem;
}

.nav-link {
	text-decoration: none;
	margin-left: 10rem;
	color: #008080;
}

.nav-items:last-child {
	margin-right: 10rem;
}

/* Header section */
.welcome-section {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #e0ebe8;
}

.heading-primary {
	font-size: 4rem;
	font-weight: 400;
	line-height: 1;
}

.paragraph {
	color: #008080;
}

/* Projects Section */
.project-container {
	display: grid;

	grid-template-rows: repeat(2, 20rem);
	grid-template-columns: repeat(3, 30rem);
	grid-gap: 5rem;
}
.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.project-title img {
	height: 100%;
	width: 100%;
}
.project-title {
	border: 1px solid #008080;
}
.project-title .paragraph {
	margin: 0;
	padding: 0;
	border: 1px solid #008080;
	text-align: center;
}
h2 {
	margin: 1.5rem 0;
	line-height: 1;
}
a {
	text-decoration: none;
}

/* Section social */
.social {
	display: flex;
	flex-direction: column;
	margin-top: 10rem;
	align-items: center;
	background-color: #c8f7c5;
	padding: 10rem;
}

.social-links {
	display: flex;
}

.social-links a {
	width: 12rem;
	height: 12rem;
	background-color: #e0ebe8;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin: 10rem 3rem;
	color: #008080;
	border: 1px solid #008080;
}

/* Footer */

.footer {
	background-color: #22313F;
	color:white; 
	padding: 2rem;
	text-align: center;

}
.footer .paragraph{
	color: white;
}
.footer a {
	color:white;

}
