/* Base Styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* default font-size - 26px, 10 px - 10/16 px,  */
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: 'Lato', serif;
	font-weight: 400;
	line-height: 1.6;
	position: relative;
	font-size: 2rem;
}

/* Navigation section */
.nav-bar {
	position: fixed;
	width: 100%;
	background: linear-gradient(to right, rgba(171, 0, 0, 1), rgba(13, 85, 130, 1));
}

.nav-links {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 1.5rem;
}

.nav-link:link,
.nav-link:visited {
	text-decoration: none;
	margin-left: 10rem;
	color: white;
	transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
	color: white;
	padding-bottom: 1.5rem;
	border-bottom: 4px solid white;
}

.nav-items:last-child {
	margin-right: 10rem;
}

/* Header section */

.background {
	background: linear-gradient(to right, rgba(171, 0, 0, 0.6), rgba(13, 85, 130, 0.8)),
		url(../img/background.jpg);
	background-position: center;
	background-size: 100%;
}

.welcome-section {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading-primary {
	font-size: 6rem;
	font-weight: 700;
	line-height: 1;
	color: white;
}

.paragraph {
	color: white;
	margin-top: 2rem;
	padding: 1rem 2rem;
	/* border: 2px solid white; */
}

/* Projects Section */
.project-container {
	display: grid;
	grid-template-rows: repeat(2, 30rem);
	grid-template-columns: repeat(3, 30rem);
	grid-gap: 10rem;
}
.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.project-tile img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.project-tile {
	/* border: 1px solid #008080; */
	box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
.project-tile .paragraph {
	margin: 0;
	padding: 0;
	background: -webkit-linear-gradient(rgba(171, 0, 0, 0.6), rgba(13, 85, 130, 0.8));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	text-align: center;
}

.heading-secondary {
	font-size: 5rem;
	margin: 8rem 0;

	background: -webkit-linear-gradient(rgba(171, 0, 0, 0.6), rgba(13, 85, 130, 0.8));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a {
	text-decoration: none;
}

.button:link,
.button:visited {
	font-size: 2.5rem;
	margin-top: 8rem;
	padding: 1rem 5rem;
	text-align: center;
	color: white;
	background: linear-gradient(to right, rgba(171, 0, 0, 0.6), rgba(13, 85, 130, 0.8));
	cursor: pointer;
	border: 2px solid white;
	transition: all 0.4s;
}

.button:hover,
.button:active {
	background-color: white;
	background: -webkit-linear-gradient(rgba(171, 0, 0, 0.6), rgba(13, 85, 130, 0.8));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border: 2px solid rgb(171, 0, 0);
	box-sizing: inherit;
}

/* Section social */
.social {
	display: flex;
	flex-direction: column;
	margin-top: 10rem;
	align-items: center;
	padding: 10rem;

	background: linear-gradient(to right, rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6) ),
		url(../img/bg2.jpg);
	
	background-size: 100%;
	background-repeat: no-repeat;
	object-fit: fill;

}

.social .paragraph {
	font-weight: 700;
	font-size: 3rem;
	color:rgba(13, 85, 130, 0.8);
}
.social .heading-secondary {
	margin-bottom: 0.5rem;
}
.social-links {
	display: flex;
}

.social-links a {
	width: 12rem;
	height: 12rem;
	background-color: #e0ebe8;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin: 10rem 3rem;
	color: #008080;
	border: 1px solid #008080;
}

/* Footer */

.footer {
	background-color: #22313f;
	color: white;
	padding: 2rem;
	text-align: center;
}
.footer .paragraph {
	color: white;
}
.footer a {
	color: white;
}

/* Media query for 1000px */
@media screen and (max-width: 1000px) {
	body {
		font-size: 60%;
	}
}
